*,
/*selector master*/
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Bebas Neue', sans-serif;
}

a {
    /*label selector*/
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header__links {
    display: flex;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.header__logo-sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.header__link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color .3s;
}

.header__links {
    display: flex;
}


.home-section {
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../../assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.home-section__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}

.heading-primary {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.home-section__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.text-primary {
    color: #333;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}
/*CONTACT*/
.contact {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8),
            rgba(245, 245, 245, 0.8));
    background-size: cover;
    background-position: center;
}
/*FOOTER*/
.main-footer {
    background: rgb(53,53,54);
    background: linear-gradient(0deg, rgba(53,53,54,1) 0%, rgba(255,255,255,1) 100%);
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

.main-footer__column-1 {
    width: 40%;
    order: 1;
    max-width: 50rem;
}

.main-footer__column-2 {
    order: 2;
}

.main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center
}

.main-footer__lower a {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 2px;
}

/* *, *::after, *::before { /*que es es esto? 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

div {
    display: block;
    unicode-bidi: isolate;
} */