body {
    margin: 0px;
    width: 100%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
    /*label selector*/
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
}

ul {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

li {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/*HEADER*/
.header {
    background-color: #fbfbfb;
    width: 100%;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.4)
}

.header_logo {
    display: flex;
    font-weight: 900;
    font-size: 35px;
    align-items: center;
    cursor: pointer;
    color: #080808;
}

.header_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;    
    justify-content: space-between;
    padding: 1rem 5rem;
}

#nav {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
}

#nav ul {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    list-style: none;
}

#nav>ul>li {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    display: flex;
    transition:  all 300ms;
}

#nav>ul>li a {
    box-sizing: border-box;
    display: inline-block;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 15px;
}

#nav>ul>li:hover {
    background-color: #57647c;
    color: white;
}


/*HOME SECTION*/

.home-section {
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../../assets/svg/common-bg.svg);
    min-height: 60rem;
    position: relative;
}

.home-section_button{
    margin-top: 5rem;
    text-align: center;
    flex-grow: 1;
}

.projectButton{
    font-family: 'Bebas Neue';
    background-color:#57647c;
    font-size: 2rem;
    letter-spacing: 1px;
    display: inline-block;
    align-items: center;
    padding: 1.5rem 8rem;
    border-radius: 9px;
    color: white;
    position: relative;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s;
}
.projectButton:hover{
    transform: translateY(-7px);
}

.home-section__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}

.heading-primary {
    font-family: 'Bebas Neue';
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.home-section__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.text-primary {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

/*ABOUT*/

.about-section {
    background: #fafafa;
    display: flex;
}

.container {
    margin: 30px;
    justify-content: center;
}

.heading_content {
    margin-top: 0px;
    margin-bottom: 90px;
}

.about_title {
    font-family: 'Bebas Neue';
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    color: #111;
    margin: auto;
}

.about_intro {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6
}

.content_column {
    box-sizing: border-box;
    column-gap: 94.4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    margin: auto;
}

.intro_content {
    /*intro content box*/
    margin: 0px;
}

#title {/*get to know me!*/
    text-align: center;
    margin: 0px;
    font-size: 50px;
}

.details { 
    margin: 0px;

}

.parag {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #636161;
    font-size: 20px;
}

.my_skills_column {}

.skills_title {
    text-align: center;
    margin: 0px;
    font-size: 50px;
}

.tools_group {
    margin-top: 0px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
}

.technologies {
    flex-grow: 1;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: rgba(102, 102, 187, 0.2);
    border-radius: 9px;
    font-size: 20px;
    font-weight: 500;
    color: #636363;
}



/*PROJECTS*/

.projects-section {
    background: #fafafa;
    display: flex;
    padding: 12rem 0;
}

.projects__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10rem;
}

.projects__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem;
    margin-bottom: 5rem;
}

.projects__row-img-cont {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    border-radius: 9px;
    background: white;
}

.projects__row-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.projects__row-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__row-content-title {
    text-align: center;
    margin: 0px 0px 2rem 0px;
    font-size: 50px;
    color: #111;
}

.projects__row-content-btns {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.projectButton--inverse {
    background-color: white;
    color: #57647c;
    border: 2px solid #57647c;
}

.projectButton--inverse:hover {
    background-color: #57647c;
    color: white;
    transform: translateY(-7px);
}

/* Responsive styles for Projects section */
@media (max-width: 768px) {
    .projects__row {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    .projects__row-img-cont {
        order: 1;
    }
    
    .projects__row-content {
        order: 2;
    }
    
    .projects__row-content-btns {
        flex-direction: column;
        align-items: center;
    }
    
    .projects__row-content-btns .projectButton {
        width: 100%;
        max-width: 30rem;
        text-align: center;
    }
}

/*CONTACT*/
.contact {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8),
            rgba(245, 245, 245, 0.8));
    background-size: cover;
    background-position: center;
}

.contact_form {
    padding: 12rem 0;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.contact__form-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

.heading-sec__mb-med {
    margin-bottom: 9rem;
}

.heading-sec__main--lt {
    color: #111;
    font-weight: 800;
}

.heading-sec__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
}

.heading-sec__sub--lt {
    color: #333;
}

.heading-sec__sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}

.contact__form-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}


form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.contact__form-field {
    margin-bottom: 4rem;
}

.contact__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

.contact__btn {
    font-family: 'Bebas Neue';
    background-color:#57647c;
    font-size: 2rem;
    letter-spacing: 1px;
    display: inline-block;
    align-items: center;
    padding: 1.5rem 8rem;
    border-radius: 9px;
    color: white;
    position: relative;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s;
}

.contact__btn:hover {
    transform: translateY(-7px)
}


/*FOOTER*/
.main-footer {
    background: rgb(53, 53, 54);
    background: linear-gradient(0deg, rgba(53, 53, 54, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

.main-footer__column-1 {
    width: 40%;
    order: 1;
    max-width: 50rem;
}

.main-footer__column-2 {
    order: 2;
}

.main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center
}

.main-footer__lower a {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 2px;
}