*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Bebas Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

header {
    display: block;
    unicode-bidi: isolate;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header__links {
    display: flex;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.header__logo-sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.header__link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color .3s;
}

.header__links {
    display: flex;
}